################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Outputs
/20231029.00 - Electrical Schedules - Tank Farm.xlsx
/COPY FOR DEBUGGING.xlsx
.vs
**/bin/
**/obj/
packages/
*.user
*.suo
*.cache
*.log
*.vsto
*.dll.manifest
